body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#weather-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10;
    box-shadow: 00 15 px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    font-size: 14px;
    text-align: center;
}

#search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#search-history {
    margin-top: 20px;
    color: #777;

}

.weather-card {
    margin-top: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#future-weather {
    margin-top: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forecast-card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.forecast-card p {
    margin: 5px 0;
}

#search-history {
    margin-top: 20px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

#search-history p {
    display: inline-block;
    margin-right: 10px;
}

#search-history a {
    text-decoration: none;
    color: #333;
}

#search-history a:hover {
    text-decoration: underline;
}

